.inputBox {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  outline: none;
}
input {
  height: 5rem;
  max-width: 25rem;
  border: 2px solid grey;
  padding: 2rem;
  font-weight: bold;
  transition: 400ms all ease-in-out;
  border-radius: 10px;
  font-size: 1.6rem;
  color: rgb(68, 68, 68);
}
input ~ span {
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: white;
  display: inline-block;
  transition: all 400ms ease-in-out;
  color: gray;
  padding-inline: 1rem;
}
input:focus ~ span, input:valid ~ span{
  transform: translateY(-150%);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  color: white;
}
input:focus, input:valid {
  border: 2px solid rgb(37, 37, 37);
  outline: none;
}

.input--number {

  position: relative;
}
.input--number::after {
  content: "%";
  position: absolute;
  width: 10rem;
  height: 10rem;
}