.list {
  margin-inline: auto;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
  position: relative;
}


.list__filter {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  align-items: center;
}
.list__complete {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}