.list__header {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  background-color: antiquewhite;
}

.list__option {
  padding: 2rem;
}

.list__header__complete {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 2fr;
  background-color: antiquewhite;
}
